.home-blog {
  padding-top: rem(30);
  background-color: #fff;

  @include mq(md) {
    padding-top: rem(75);
  }

  &__title {
    margin-bottom: rem(25);
    color: var(--orange);
    font-size: fluidTypography(22, 31);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;

    @include mq(lg) {
      margin-bottom: rem(35);
      font-size: em(31);
    }
  }

  &__grid {
    display: grid;
    margin-right: rem(-15);
    margin-left: rem(-15);
    grid-gap: rem(12);
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: rem(44);
    padding-bottom: rem(44);
  }
}
