.home-calltoaction {
  padding-top: rem(32);
  padding-bottom: rem(32);
  background-color: var(--purple);
  color: #fff;

  @include mq(md) {
    padding-top: rem(40);
  }

  &__container {
    max-width: rem(280);
    margin: 0 auto;

    @include mq(md) {
      max-width: rem(685);
    }
  }

  &__footer {
    display: flex;
    justify-content: center;

    .has--high-contrast & {
      .btn {
        background: #fff;
        color: #000;
      }
    }
  }

  &__title {
    font-size: fluidTypography(14, 25);
    font-weight: normal;
    line-height: 1.36;
    text-align: center;

    @include mq(lg) {
      font-size: em(25);
    }
  }
}