.home-clients {
  // &__container {
  padding-top: rem(20);
  padding-bottom: rem(40);
  background: var(--darker-gray);
  // }

  @include mq(md) {
    padding-top: rem(40);
    padding-bottom: rem(60);
  }

  .swiper-container {
    &:not(.swiper-container-initialized) {
      .swiper-wrapper {
        white-space: nowrap;
        overflow: auto;
        scroll-snap-type: x mandatory;
      }

      .swiper-slide {
        display: inline-block;
        scroll-snap-align: start;
      }
    }
  }

  .swiper-slide {
    height: auto;
  }

  &__header {
    padding-top: rem(20);
    padding-bottom: rem(30);

    @include mq(md) {
      padding-bottom: rem(64);
    }
  }

  &__title {
    margin: 0;
    // color: var(--darker-gray);
    color: #fff;
    font-size: fluidTypography(22, 31);
    line-height: 1.2;
    text-align: center;

    @include mq(lg) {
      font-size: em(31);
    }
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__picture {
    display: block;

    img {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  &__arrow {
    width: rem(19);
    height: rem(31);
    margin-top: -(rem(15));
    transition: opacity .4s;
    background-image: none;
    color: #fff;
    opacity: .3;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
