.home-features {
  background-color: #fff;

  &__header {
    padding-top: rem(30);
    padding-bottom: rem(20);

    @include mq(md) {
      padding-top: rem(64);
      padding-bottom: rem(40);
    }
  }

  &__title {
    margin: 0;
    padding: 0 rem(42);
    color: var(--darker-gray);
    font-size: fluidTypography(22, 31);
    line-height: 1.2;
    text-align: center;

    @include mq(lg) {
      font-size: em(31);
    }
  }
}
