.home-guarantees {
  background: var(--orange);

  @include mq(md) {
    position: relative;
    background: linear-gradient(120deg, var(--orange) 0%, var(--orange) 50%, var(--purple) 50%, var(--purple) 100%);
    overflow: hidden;

    .has--high-contrast & {
      background: linear-gradient(120deg, #fff 0%, #fff 50%, #000 50%, #000 100%);
    }

    &:before,
    &:after {
      display: block;
      position: absolute;
      top: -1px;
      bottom: -1px;
      width: calc(50% + #{rem(96)});
      transition-duration: .5s;
      transition-property: clip-path;
      transition-timing-function: ease-out;
      background: #fafafa;
      content: "";
    }

    &.is--below-scroll {
      &:before {
        clip-path: polygon(0 0, 100% 0, calc(100% - #{rem(191)}) 100%, 0% 100%);
      }

      &:after {
        clip-path: polygon(#{rem(191)} 0, 100% 0, 100% 100%, 0% 100%);
      }
    }

    &:before {
      left: 0;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    &:after {
      right: 0;
      clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }
  }

  &__container {
    @include mq(md) {
      display: flex;
    }
  }

  &__header,
  &__content {
    flex-basis: 50%;
    flex-grow: 1;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(290);
    margin: auto;
    padding: rem(50) 0;
    transition: opacity .4s, transform .4s;
    transition-delay: .5s;
    will-change: transform, opacity;

    .is--below-scroll & {
      transform: translate(0, 50px);
      opacity: 0;
    }

    @include mq(md) {
      align-items: flex-start;
      padding: rem(60) 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin-right: -(rem(15));
    margin-left: -(rem(15));
    padding: rem(30) rem(15);
    background: var(--purple);

    @include mq(md) {
      margin: 0;
      padding: 0;
      background: transparent;
    }
  }

  &__title {
    margin: 0 auto rem(20);
    padding: 0 rem(15);
    color: var(--purple);
    font-size: fluidTypography(21, 31);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;

    @include mq(lg) {
      font-size: em(31);
      text-align: left;
    }
  }

  &__shape {
    display: none;

    @include mq(md) {
      display: block;
      width: 80px;
      height: 120px;
      float: left;
      shape-outside: polygon(56px -34px, 95px -32px, 10px 123px, -33px 122px);
    }
  }

  &__panel {
    max-width: rem(300);
    margin: auto;
    transition: opacity .4s, transform .4s;
    transition-delay: .6s;
    will-change: transform, opacity;

    .is--below-scroll & {
      transform: translate(0, -50px);
      opacity: 0;
    }

    @include mq(md) {
      max-width: none;
    }
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: rem(15);
    color: #fff;
    font-size: em(14);
    line-height: 1.6667;
    list-style-position: inside;

    @include mq(md) {
      padding: 0;
      font-size: em(15);

    }

    strong {
      color: var(--orange);
      font-size: em(16);
      line-height: 1.388888;

      .has--high-contrast & {
        color: #fff;
      }

      @include mq(md) {
        font-size: em(15);
        line-height: inherit;
      }
    }
  }

  // &__button {
  //   display: flex;
  //   justify-content: center;
  //   min-width: rem(236);
  //   padding: em(16, 16);
  //   border-radius: rem(25);
  //   background-color: var(--purple);
  //   color: #fff;
  //   font-size: em(16);
  //   line-height: 1;
  //   text-align: center;
  //   text-decoration: none;
  // }
}
