.home-parallax {
  position: relative;
  perspective: 8px;
  perspective-origin: 0%;
  -webkit-overflow-scrolling: touch;

  .home-banners {
    transform: translateZ(0px);
  }

  .home-products {
    transform: translateZ(3px) scale(0.625);
    transform-origin: 0;
    background-color: #fafafa;
  }
}
