footer.footer
  .wrapper__small
    .footer__container
      .footer__brand
        a.footer__logo(href="/")
          include ../../images/logo-footer.svg
      address.footer__address
        span.footer__icon
          include ../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/map-marker-alt.svg
        |  Rua Comendador Araújo, 143 - 10° andar - Centro - Curitiba - PR | CEP: 80420-900
      .footer__phone
        span.footer__icon
          include ../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/phone.svg
        |  Telefone: (41) 3593-9000 | 0800 724 5559
      nav.footer__nav
        a.footer__nav-item(href="#") Produtos
        a.footer__nav-item(href="#") Sobre Nós
        a.footer__nav-item(href="#") Blog
        a.footer__nav-item(href="#") Contato
        a.footer__nav-item(href="#") Acessibilidade
        a.footer__nav-item(href="#") Termos de Uso
        a.footer__nav-item(href="#") FAQ
      .footer__social
        a.footer__social-item(href="#")
          span.sr-only Linkedin
          include ../../images/linkedin.svg
        //- a.footer__social-item(href="#")
        //-   span.sr-only Facebook
        //-   include ../../images/facebook.svg
      .footer__partners
        .footer__partner
          img.footer__selo(src="/images/selo-1954.png", alt="Desde 1954")
        a.footer__partner(href="https://www.ab2l.org.br/", target="_blank")
          img(src="/images/partner_1.png", alt="Associação Brasileira de lawtechs e legaltechs")
        a.footer__partner(href="http://www.golspelavida.org.br/", target="_blank")
          img(src="/images/partner_2.png", alt="Pequeno Príncipe - Gols pela vida")
      .footer__colophon.has--text
        p Bonnjur é um serviço informativo supletivo do advogado e recomenda confirmar datas e valores.

    .footer__copyright.has--text
      p Copyright © 2019 - HouseCricket Digital &amp; Direct - Todos os Direitos Reservados.



