//- script(src="https://www.google.com/recaptcha/api.js", async, defer)

// build:js /scripts/vendor.js
script(src='/node_modules/babel-polyfill/dist/polyfill.js')
script(src='/node_modules/flexibility/flexibility.js')
script(src='/node_modules/details-polyfill/index.js')
// endbuild

//- // build:js /scripts/main.js
script(src='/scripts/main.js')
//- // endbuild

