
link(href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,700&display=swap", rel="stylesheet")

// build:css /styles/vendor.css
link(rel='stylesheet', href='/node_modules/modern-normalize/modern-normalize.css')
link(rel='stylesheet', href='/node_modules/swiper/dist/css/swiper.css')
//- link(rel='stylesheet', href='/node_modules/choices.js/public/assets/styles/base.css')
link(rel='stylesheet', href='/node_modules/choices.js/public/assets/styles/choices.css')
// endbuild

// build:css /styles/main.css
link(rel='stylesheet', href='/styles/main.css')
// endbuild
