.leadform
  .wrapper
    header.leadform__header
      h1.leadform__title Quer soluções para trazer mais #[strong agilidade] ao seu escritório? #[strong Assine o Bonnjur!]
      .leadform__text.has--text
        p Basta preencher o formulário para que um dos nossos consultores entre em contato com você.
    form.leadform__form(method="POST", action="/")
      .leadform__container
        .leadform__group
          label.leadform__label(for="lead_name") Nome#[sup *]:
          input.leadform__input#lead_name(type="text", name="name", aria-required="true")
        .leadform__group
          label.leadform__label(for="lead_phone") Celular#[sup *]:
          input.leadform__input#lead_phone(type="tel", name="phone", aria-required="true")
        .leadform__group
          label.leadform__label(for="lead_email") E-mail#[sup *]:
          input.leadform__input#lead_email(type="email", name="email", aria-required="true")
        .leadform__group
          label.leadform__label(for="lead_subject") Assunto:
          textarea.leadform__textarea#lead_subject(name="subject")
      footer.leadform__footer
        .leadform__captcha
          #grecaptcha.g-recaptcha(data-sitekey="6LetrKoUAAAAAOETBb6jDi762rkkM3UsPOCnOH_W")
        button.btn.btn--purple.leadform__submit(type="submit") Experimente agora
