.sobre-main
  .wrapper__small
    .sobre-main__content(data-observe-container)
      .sobre-main__group.has--text
        h2.sobre-main__title Dois nomes e uma história de dedicação e sucesso.
        p O Bonnjur nasceu pelas mãos e pelo suor de #[strong Jean e Claudete Lebois]. Um casal visionário que fez prosperar essa empresa, sinônimo de desenvolvimento. O pioneirismo de sucesso trazido pela dupla está no DNA da empresa há #[strong 65 anos], inspirando aqueles que trabalham diariamente em busca da excelência em resultados para cada cliente, comprometendo-se em fazer do Bonnjur referência de um trabalho eficiente, dedicado e notório.
      figure.sobre-main__figure
        img(src="/images/sobre-foto-01.jpg", alt="Jean e Claudete Lebois")
        img.sobre-main__selo(src="/images/selo-1954.png", alt="Desde 1954")
      h2.sobre-main__title.sobre-main__title--large E foi assim que começamos...
      .sobre-main__group.has--text
        p Todo mundo que trabalha com Direito sabe a #[strong importância do tempo] para as diferentes causas defendidas pelos escritórios. Os prazos a serem cumpridos sempre impactam nas atividades dos advogados e são determinantes a partir do momento em que estão publicados nos Diários da Justiça.
        p Antes do Bonnjur existir, os escritórios levavam cerca de #[strong 10 horas para fazer, manualmente, o trabalho de recorte jurídico]. O que exigia muita mão de obra, tempo e esforço para ler as publicações na totalidade.
      aside.sobre-main__aside(aria-hidden="true")
        q.sobre-main__quote Antes do Bonnjur existir, os escritórios levavam cerca de #[strong 10 horas para fazer, manualmente, o trabalho de recorte jurídico].
      figure.sobre-main__figure.sobre-main__figure--large
        picture.sobre-main__picture
          source(srcset="/images/sobre-foto-02.jpg", media="(min-width: 768px)")
          img(src="/images/sobre-foto-02-mobile.jpg", alt="Sala de reuniões de firma de advocacia. Pessoas vestidas formalmente discutem amigavelmente.")
      aside.sobre-main__aside(aria-hidden="true")
        q.sobre-main__quote O Bonnjur tem por missão #[strong suplementar e facilitar a vida do advogado], fazendo-o #[strong ganhar tempo e agilidade que se transformam em mais liberdade para desempenhar suas funções].
      .sobre-main__group.has--text
        p A chegada do Bonnjur, amparado por profissionais da área jurídica que entendiam muito sobre as necessidades dos escritórios, foi um #[strong facilitador ao trabalho manual de leitura dos Diários da Justiça].
        p Hoje, após diversas atualizações, podemos dizer com propriedade que o Bonnjur tem por missão #[strong suplementar e facilitar a vida do advogado], fazendo-o #[strong ganhar tempo e agilidade que se transformam em mais liberdade para desempenhar suas funções], sem se preocupar com o processo cansativo do recorte jurídico, ou de qualquer movimentação processual em que você esteja envolvido, mesmo antes de ser publicado no Diário Oficial – novidade Bonnjur.
        p Com Bonnjur, seu tempo passou a ser ainda mais valioso, pois você decide o que vai fazer com ele, afinal, oferecemos tecnologia para que suas informações cheguem antes, e seu trabalho renda mais.

