.feature {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  scroll-snap-align: center;

  @include mq(md) {
    position: relative;
    transition: opacity .4s, transform .4s;
    will-change: transform, opacity;

    &.is--below-scroll {
      // top: 50px;
      transform: translate(0, 50px);
      opacity: 0;
    }
  }

  &:hover {
    .feature__picture {
      @include mq(md) {
        transform: scale(1.2);
        transform-origin: 50% 100%;
      }
    }
  }

  &__card {
    margin: 0;
    padding: rem(20);
    font-size: rem(10);
    white-space: normal;
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(102);
    height: rem(102);
    margin: 0 auto;
    transition: transform .5s;
    border-radius: 50%;
    background-color: var(--lighter-gray);

    @include mq(md) {
      width: rem(88);
      height: rem(88);
      border-radius: 0;
      background-color: transparent;
    }

    img {
      max-width: rem(52);
      max-height: rem(52);
      text-align: center;

      @include mq(md) {
        max-width: rem(70);
        max-height: rem(70);
      }
    }

    &--colored {
      @include mq(md) {
        width: rem(137);
        height: rem(137);
        border-radius: 50%;
        background-color: var(--lighter-gray);

        img {
          max-width: rem(70);
          max-height: rem(70);
        }
      }
    }
  }

  &__title {
    color: var(--darker-gray);
    font-size: fluidTypography(16, 20);
    font-weight: 700;
    letter-spacing: .06em;
    line-height: 1.2;
    text-align: center;

    @include mq(md) {
      font-size: em(20);
    }
  }

  &__description {
    max-width: rem(320);
    margin: auto;
    color: var(--darker-gray);
    font-size: em(14);
    letter-spacing: .06em;
    line-height: 1.46666;
    text-align: center;

    @include mq(md) {
      font-size: em(15);
    }
  }

}
