.map {
  display: none;
  position: relative;
  max-width: 612px;
  max-height: 639px;
  margin: 0 auto;

  @include mq(md) {
    display: block;
  }
  // grid-template-rows: 1fr 1fr;
  // grid-template-columns: 1fr 1fr;

  &__state {
    position: relative;
    cursor: pointer;
    fill: var(--purple);
    stroke: #fff;
    stroke-width: 1px;

    &:focus,
    &:hover,
    &.is--active {
      outline: none;
      fill: var(--orange);
    }
  }

  &__tooltip {
    position: absolute;
    padding-bottom: rem(12);
    transform: translate(-50%, -100%);
    transition: opacity .5s ease-out .5s, top .5s ease-out .05s, left .5s ease-out .05s;
    opacity: 0;
    box-sizing: border-box;
    pointer-events: none;

    &.is--active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__tooltip-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: rem(189);
    padding: rem(19) rem(25);
    border-radius: rem(20);
    background: #fff;
    box-shadow: -4px 8px 8px 2px rgba(0, 0, 0, .25);

    &:after {
      display: block;
      position: absolute;
      top: 100%;
      left: calc(50% - #{rem(12)});
      width: 0;
      height: 0;
      border-width: rem(12) rem(12) 0;
      border-style: solid;
      border-color: #fff transparent transparent;
      content: "";
    }
  }

  &__tooltip-title {
    display: block;
    margin-bottom: rem(16);
    color: var(--purple);
    font-size: em(17);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
  }

  &__tooltip-button {
    display: block;
    padding: rem(10) rem(28);
    transition: all .5s;
    border: 2px solid var(--purple);
    border-radius: rem(20);
    background: var(--lighter-gray);
    color: var(--purple);
    font-size: em(16);
    font-weight: 700;
    line-height: 1;
    text-decoration: none;

    &:hover {
      background: var(--purple);
      color: #fff;
    }
  }
}
