.masthead {
  z-index: 3;

  @include mq(md) {
    position: relative;
    margin-bottom: rem(-89);
  }

  &__fixed {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1050;

    @include mq(sm) {
      background: transparent;

      &:before {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: clip-path .8s;
        background: #fff;
        content: "";
        z-index: -1;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        .has--scrolled & {
          clip-path: polygon(0 0, 100% 0, 100% 150%, 0 100%);
        }
      }
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: em(1280);
    margin: 0 auto;
  }

  &__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: rem(12) 0;

    @include mq(md) {
      // position: relative;
      flex-direction: row;
      padding: rem(20) 0;
    }
  }

  &__brand {
    position: relative;
    z-index: 5;
  }

  &__toggle {
    position: relative;
    transition: color .5s;
    z-index: 5;

    .has--nav & {
      color: #fff;
    }

    @include mq(md) {
      display: none;
    }
  }

  &__icon {
    &-close {
      display: none;

      .has--nav & {
        display: inline;

        + .masthead__icon {
          display: none;
        }
      }
    }
  }

  &__logo {
    display: block;
    width: rem(117);
    height: rem(28);
    transition: color .5s;
    color: #000;

    @include mq(md) {
      color: inherit;

      .has--scrolled & {
        color: #000;
      }
    }

    .has--search & {
      @include mq(md) {
        color: #fff;
      }
    }

    .has--nav & {
      color: #fff;

      @include mq(md) {
        color: inherit;
      }
    }

    .has--nav.has--search & {
      @include mq(md) {
        color: #fff;
      }
    }


    @include mq(md) {
      width: rem(206);
      height: rem(49);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__panel {
    display: flex;
    position: absolute;
    top: 0; left: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: rem(70);
    transition: clip-path .5s;
    background-color: var(--darker-gray);
    color: var(--lighter-gray);
    overflow: auto;
    z-index: 4;
    pointer-events: none;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    .has--nav & {
      pointer-events: auto;
      // visibility: visible;
      clip-path: polygon(0 0, 100% 0, 100% 150%, 0 100%);

      @include mq(md) {
        clip-path: none;
      }
    }

    @include mq(md) {
      position: static;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      height: auto;
      padding-top: 0;
      background-color: transparent;
      color: inherit;
      overflow: visible;
      clip-path: none;
      pointer-events: auto;
    }
  }

  &__search {
    order: -1;
    padding: rem(15);

    @include mq(md) {
      order: 1;
      margin-left: rem(8);
      padding: 0;
    }
  }

  &__button {
    @include appearance(none);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: rem(7) rem(25);
    border: 0;
    background: var(--purple);
    color: #fff;
    font-size: em(15);
    font-weight: 700;
    letter-spacing: .06em;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    @include mq(md) {
      width: auto;
      border-radius: rem(22);
    }

    &-icon {
      display: inline-block;
      margin-right: .5em;
    }
  }

  &__clientarea {
    margin-top: rem(16);
    padding: rem(16) 0;
    background: var(--purple);

    @include mq(md) {
      position: absolute;
      top: 0;
      // right: 0;
      margin-top: 0;
      transform: translateY(-50%);
      background: transparent;
      z-index: 2;
    }
  }

  &__menu {
    @include mq(md) {
      position: absolute;
      top: 100%;
      width: 100%;
      padding-top: rem(16);
      transform: translateY(rem(-40));
      transition: transform .4s, opacity .4s;
      opacity: 0;
      pointer-events: none;

      .is--open > & {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    background: var(--purple);
    list-style: none;
    overflow: hidden;

    @include mq(md) {
      padding: 0;
      border-radius: rem(10);

      &:before {
        display: block;
        position: absolute;
        top: 5px;
        left: 50%;
        width: 0;
        height: 0;
        transform: translateX(-50%);
        border-width: 0 12px 12px;
        border-style: solid;
        border-color: var(--purple) transparent;
        content: "";
        z-index: -1;
      }
    }

    &-item {
      @include mq(md) {
        + #{&} {
          border-top: 1px solid #6121d6;

          .has--high-contrast & {
            border-top-color: #fff;
          }
        }
      }
    }

    &-btn {
      display: block;
      padding: rem(16);
      color: #fff;
      font-size: em(14);
      font-weight: 400;
      line-height: 1.467;
      text-align: center;
      text-decoration: none;

      &:hover {
        background: rgba(#fff, .1);
      }
    }
  }
}

