.post {
  position: relative;
  transition: opacity .4s, transform .4s;
  z-index: 2;
  will-change: transform, opacity;
  scroll-snap-align: start;

  &.is--below-scroll {
    transform: translate(0, 50px);
    opacity: 0;
  }

  &__icon {
    vertical-align: middle;

    svg {
      display: inline-block;
      width: 1em;
      height: 1em;
    }
  }

  &__card {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;

    &:hover {
      .post__image {
        filter: grayscale(0%);
      }
    }
  }

  &__figure {
    margin: 0;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: rem(215);
    transition: .6s ease;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 44px), calc(100% - 44px) 100%, 0 100%);
    object-fit: cover;
    object-position: 50% 50%;
    filter: grayscale(100%);
  }

  &__title {
    // position: relative;
    order: 2;
    margin-top: rem(10);
    padding: 0 rem(30);
    font-size: em(15);
    font-weight: 700;
    line-height: 1.333333;
  }

  &__link {
    padding: rem(1);
    transition: 600ms ease;
    background-image: linear-gradient(var(--dark-gray) 0%, var(--dark-gray) 100%);
    background-repeat: repeat-y;
    background-position: 0 100%;
    background-size: 0% 0em;
    color: var(--dark-gray);
    text-decoration: none;

    &:before {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      content: "";
    }

    &:hover {
      background-size: 100% 1em;
      color: #fff;
    }
  }

  &__metadata {
    margin-top: rem(28);
    padding: 0 rem(30);
    color: var(--dark-gray);
    font-size: em(13);
    line-height: 1.53846153846;
  }
}
