.products {
  &__grid {
    display: grid;
    justify-content: center;
    padding-top: rem(50);
    padding-bottom: rem(50);
    grid-gap: rem(30);
    grid-template-columns: repeat(auto-fill, 1fr);

    @include mq(md) {
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    }
  }
}