.home-banners
  .wrapper
    .home-banners__carousel
      .swiper-container(data-carousel="home")
        .swiper-wrapper
          .swiper-slide
            .home-banners__slide(data-header-color="#fff")
              .home-banners__figure
                picture.home-banners__picture
                  source(srcset="/images/banner-home-01.jpg", media="(min-width: 600px)")
                  img(src="/images/banner-home-mobile-01.jpg", alt="Texto alternativo da imagem.")
              a.home-banners__content(href="#")
                h1.home-banners__title Quer mais agilidade na entrega dos recortes jurídicos do seu escritório?
                h2.home-banners__button Experimente agora.
          //- .swiper-slide
          //-   .home-banners__slide(data-header-color="#f00")
          //-     .home-banners__figure
          //-       picture.home-banners__picture
          //-         source(srcset="/images/banner-home-01.jpg", media="(min-width: 600px)")
          //-         img(src="/images/banner-home-mobile-01.jpg", alt="Texto alternativo da imagem.")
          //-     a.home-banners__content(href="#")
          //-       h1.home-banners__title Quer mais agilidade na entrega dos recortes jurídicos do seu escritório?
          //-       h2.home-banners__button Experimente agora.
          //- .swiper-slide
            .home-banners__slide(data-header-color="#00f")
              .home-banners__figure
                picture.home-banners__picture
                  source(srcset="/images/banner-home-01.jpg", media="(min-width: 600px)")
                  img(src="/images/banner-home-mobile-01.jpg", alt="Texto alternativo da imagem.")
              a.home-banners__content(href="#")
                h1.home-banners__title Quer mais agilidade na entrega dos recortes jurídicos do seu escritório?
                h2.home-banners__button Experimente agora.
        .swiper-pagination
    .wrapper__small
      img.home-banners__selo(src="/images/selo-1954.png", alt="Desde 1954")
