section.home-calltoaction
  .wrapper__small
    .home-calltoaction__container
      h1.home-calltoaction__title Assine já o Bonnjur e receba #[strong informações jurídicas personalizadas] que facilitarão o seu dia a dia.
      footer.home-calltoaction__footer
        a.btn.btn--orange(href="#") Experimente agora
