section.home-guarantees(data-observe)
  .wrapper__small
    article.home-guarantees__container
      .home-guarantees__header
        .home-guarantees__wrapper
          h1.home-guarantees__title Garantia de encontrabilidade e economia  do seu tempo.
          a.btn.btn--large.btn--purple(href="#") Experimentar agora
      .home-guarantees__content
        .home-guarantees__panel
          span.home-guarantees__shape(aria-hidden)
          ul.home-guarantees__list
            li.home-guarantees__item #[strong Mais de #[span(data-counter) 57] mil] Diários processados em 2018.
            li.home-guarantees__item Em um dia, #[strong mais de #[span(data-counter) 189] mil termos encontrados].
            li.home-guarantees__item Quase #[strong 3 milhões] de nomeações ao mês.

