section.home-products
  .wrapper__small
    header.home-products__header
      h1.home-products__title Conheça aqui os nossos produtos
    - var productLimit = 3;
    include ../../components/products
