.acessibilidade-main
  .wrapper__small
    .acessibilidade-main__content
      p #[strong Esta página é destinada a deficientes visuais e auditivos. ] 
        | #[br] Ela foi feita de maneira especial para que você possa navegar por todas as funcionalidades do nosso portal, sem perder nada. Aproveite!
      p Confira as instruções de uso para navegar pelo portal.
      p #[strong • Para macOS:] 
        | #[br] Nos navegadores #[strong Safari, Chrome e Firefox], utilize a tecla #[strong Alt + os números:]
        | #[br] #[strong 1.] Para ir para o conteúdo.
        | #[br] #[strong 2.] Para ir para o menu.
        | #[br] #[strong 3.] Para ir para a página de acessibilidade, ou utilize a tecla TAB.
      p Para #[strong navegar pelas páginas], utilize as teclas #[strong Alt + setas.]
        | #[br] #[strong • Para Windows:]
        | #[br] No navegador #[strong Internet Explorer], utilize a tecla #[strong Alt + os números] e, na sequência, pressione Enter.
      p Nos navegadores #[strong Firefox e Chrome], utilize a tecla #[strong Alt + os números]:
        | #[br] #[strong 1.] Para ir para o conteúdo.
        | #[br] #[strong 2.] Para ir para o menu.
        | #[br] #[strong 3.] Para ir para a página de acessibilidade, ou utilize a tecla TAB.
        | #[br] Para #[strong navegar pelas páginas], utilize as teclas #[strong Alt + setas].
