section.resultado-banner
  .wrapper__small
    article.resultado-banner__container
      .resultado-banner__content
        p Resultados de busca para
        h1.resultado-banner__title "Recorte"
        p.resultado-banner__resultados 4 resultados