section.resultado-products
  .wrapper__small
    header.produtos-products__header
      h1.resultado-products__title Produto
      p.resultado-products__resultados 1 produto
    .produtos-products__container
      include ../../components/products