section.produtos-products
  .wrapper__small
    header.produtos-products__header
      h1.produtos-products__title Nossos produtos:
    .produtos-products__container
      include ../../components/products