.resultado-banner {
  margin-top: 0;
  background: linear-gradient(-115deg, var(--orange) 0%, var(--orange) 16%, var(--purple) 16%, var(--purple) 100%);

  @include mq(md) {
    background: linear-gradient(-120deg, var(--orange) 0%, var(--orange) 35%, var(--purple) 35%, var(--purple) 100%);
    margin-top: rem(89);

    .has--high-contrast & {
      background: linear-gradient(-120deg, #fff 0%, #fff 25%, #000 25%, #000 100%);
    }
  }

  &__container {
    @include mq(md) {
      display: flex;
    }
  }

  &__content {
    margin-right: -(rem(15));
    margin-left: -(rem(15));
    padding: rem(30) rem(15);
    

    @include mq(md) {
      margin: 0;
      padding: rem(40) 0;
    }

    p {
      margin: 0;
      color: #fff;
      font-size: em(15);
    }
  }

  &__title {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #fff;
    font-size: fluidTypography(21, 31);
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    
    @include mq(lg) {
      font-size: em(31);
    }
  }


  &__resultados {
    font-style: italic;

  }

}
