.resultado-products {
  background-color: #fff;

  &__title {
    margin-bottom: rem(25);
    color: var(--purple);
    font-size: fluidTypography(22, 31);
    font-weight: 700;
    line-height: 1.2;
    text-align: left;

    @include mq(lg) {
      margin-bottom: rem(35);
      font-size: em(31);
    }
  }

  &__resultados {
    font-size: em(20);
    margin-top: rem(-25);

    @include mq(lg) {
      margin-top: rem(-35);
    }

  }

}
