.contato-banner {
  display: block;
  position: relative;
  min-height: rem(236);
  background-image: url('../images/banner-contato-mobile.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include mq(md) {
    min-height: 17.34375vw;
    background-image: url('../images/banner-contato.jpg');
  }

  .has--high-contrast & {
    filter: grayscale(100%) contrast(150%);
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
    max-width: rem(870);
    min-height: inherit;
    margin: 0 auto;
    padding: rem(30) rem(20);

    @include mq(md) {
      align-items: center;
    }
  }

  &__title {
    display: block;
    margin: 0;
    // padding-left: rem(12);
    // border-left: 4px solid #fff;
    color: #fff;
    font-size: fluidTypography(17, 31);
    font-weight: 400;
    line-height: 1.258;    

    span {
      color: var(--purple);
      font-weight: 700;

      .has--high-contrast & {
        color: #fff;
      }
    }

    @include mq(lg) {
      font-size: em(31);
    }
  }
}
