.contato-drop {
  &__header {
    padding-top: rem(60);
    padding-bottom: rem(40);
  }

  &__title {
    display: block;
    margin: 0 0 em(28, 31);
    color: var(--purple);
    font-size: fluidTypography(22, 31);
    font-weight: 700;
    text-align: center;

    @include mq(lg) {
      font-size: em(31);
    }
  }

  &__dropzone {
    @include mq(md) {
      grid-column-end: span 2;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: rem(25) rem(35);

    @include mq(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__text {
    display: block;
    max-width: rem(700);
    margin: 0 auto;
    color: var(--darker-gray);
    font-size: em(17);
    line-height: 1.529411;
    text-align: center;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // max-width: rem(630);
    margin: 0 auto;
    padding-top: rem(20);
    padding-bottom: rem(35);

    @include mq(md) {
      flex-direction: row;
    }
  }

  &__submit {
    @include mq(md) {
      min-width: rem(168);
    }
  }
}
