.contato-form {
  background: #fff;

  &__header {
    max-width: rem(660);
    margin: 0 auto;
    padding-top: rem(40);
    padding-bottom: rem(40);
    font-size: em(15);
    line-height: 1.333;
    text-align: center;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: rem(25) rem(35);

    @include mq(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__group {
    &--large {
      @include mq(md) {
        grid-column-end: span 2;
      }
    }
  }

  &__label {
    color: var(--dark-gray);
    font-size: em(15);
    font-weight: 400;
    letter-spacing: .06em;
    line-height: 2.5;

    @include mq(md) {
      font-size: em(16);
      letter-spacing: 0;
    }
  }

  &__input,
  &__textarea {
    @include appearance(none);
    display: block;
    width: 100%;
    padding: rem(10);
    border: 1px solid var(--light-gray);
    border-radius: rem(4);
    font-size: em(16);
    line-height: 1.2;

    @include mq(md) {
      padding: rem(15);
    }
  }

  &__textarea {
    min-height: rem(93);
    resize: none;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: rem(35);

    @include mq(md) {
      flex-direction: row;
      grid-column-end: span 2;
    }
  }

  &__info {
    padding: rem(20) 0 0;
    color: var(--dark-gray);
    font-size: em(12);
    font-style: italic;
    line-height: 1.667;
  }

  &__submit {
    @include mq(md) {
      min-width: rem(168);
    }
  }
}
