.agradecimento-main
  .wrapper__small
    .agradecimento-main__content
      img(src="/images/sucesso.png", alt="Erro 404")
      h1 Formulário enviado com sucesso.
      p Em breve entraremos em contato com você.#[br] Agradecemos por escolher o Bonnjur!
      .agradecimento-main__buttons
        a.btn.btn--white(href="/index") Ir para a Home
