article.post-article
  .wrapper
    figure.post-article__figure
      img(src="/images/hero-post.jpg", alt="Imagem ilustrativa")
  .post-article__wrapper
    header.post-article__header
      h1.post-article__title A importância e os impactos da relação entre Direito e tecnologia
      footer.post-article__metadata
        time.post-article__pubdate(datetime="2019-04-04") Abril 4, 2019
        |  |
        span.post-article__icon
          include ../../../images/clock.svg
        time.post-article__readingtime(datetime="PT3M") 3 min. de leitura
    .post-article__content.has--text(data-observe-container)
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      h2 Excepteur sint occaecat cupidatat non proident
      p Sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
      figure.is--left: img(src="/images/post-image.jpg", alt="Pessoas conversando")
      h2 Sint occaecat cupidatat non proident
      p Sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    footer.post-article__footer
      h3.post-article__share-title Compartilhe nas redes sociais:
      a.post-article__share(href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fbonnjur.casadogrilo.com.br%2Fpost%2F")
        span.sr-only Compartilhar no Facebook
        include ../../../images/social_fb_icon.svg
      a.post-article__share(href="https://twitter.com/intent/tweet?text=A%20import%C3%A2ncia%20e%20os%20impactos%20da%20rela%C3%A7%C3%A3o%20entre%20Direito%20e%20tecnologia&url=http%3A%2F%2Fbonnjur.casadogrilo.com.br%2Fpost%2F")
        span.sr-only Compartilhar no Twitter
        include ../../../images/social_twitter_icon.svg
      a.post-article__share(href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fbonnjur.casadogrilo.com.br%2Fpost%2F&title=A%20import%C3%A2ncia%20e%20os%20impactos%20da%20rela%C3%A7%C3%A3o%20entre%20Direito%20e%20tecnologia")
        span.sr-only Compartilhar no Linkedin
        include ../../../images/social_linkedin_icon.svg
