.faq-questions
  .wrapper__small
    .faq-questions__container
      details.faq-questions__details
        summary.faq-questions__question
          | Como faço para contratar o Bonnjur?
          i.faq-questions__icon
            include ../../../images/arrow-down.svg
        .faq-questions__answer.has--text
          p É muito simples! Você irá nos contar qual é a sua necessidade e indicaremos o melhor produto para você. Basta clicar aqui: (link para solicitar orçamento) ou, se preferir, ligue gratuitamente para nós, de qualquer lugar do Brasil: 0800&nbsp;724&nbsp;5559. O orçamento será totalmente personalizado ao seu escritório.
      details.faq-questions__details
        summary.faq-questions__question
          | Qual produto do Bonnjur eu devo contratar para o meu escritório?
          i.faq-questions__icon
            include ../../../images/arrow-down.svg
        .faq-questions__answer.has--text
          p Depende. O Bonnjur conta com três serviços distintos: Recortes Jurídicos, Andamentos Processuais ou Distribuição, que irão facilitar e agilizar sua rotina, conheça-os aqui: (link para a página de listagem de produtos). Para indicarmos, de forma mais assertiva, entre em contato com a gente: (link para solicitar orçamento) ou, se preferir, ligue gratuitamente, de qualquer lugar, do Brasil: 080&nbsp; 72&nbsp; 5559. Estamos à sua disposição.
      details.faq-questions__details
        summary.faq-questions__question
          | Vou receber as publicações por e-mail?
          i.faq-questions__icon
            include ../../../images/arrow-down.svg
        .faq-questions__answer.has--text
          p É uma opção que disponibilizamos para você de forma gratuita. As publicações podem ser vistas no site do Bonnjur ou, caso queira, através do e-mail cadastrado. Para isso, envie um e-mail para: sac@bonnjur.com.br ou ligue 0800&nbsp;724&nbsp;5559 e informe ao atendente o e-mail que você gostaria de cadastrar para receber as publicações.
      details.faq-questions__details
        summary.faq-questions__question
          | Quais são as formas de envio das minhas informações?
          i.faq-questions__icon
            include ../../../images/arrow-down.svg
        .faq-questions__answer.has--text
          p O Bonnjur tem diferentes formas de envio, você deve escolher a que mais se adequa ao seu dia a dia. Pode ser via site, por e-mail, fax, ou outras que você pode conhecer aqui: (link página formas de envio). Garantimos agilidade e total segurança para seu escritório em todas elas.
      details.faq-questions__details
        summary.faq-questions__question
          | Qual o horário as publicações ficam disponíveis?
          i.faq-questions__icon
            include ../../../images/arrow-down.svg
        .faq-questions__answer.has--text
          p Assim que os diários são disponibilizados pelos Tribunais nós iniciamos o processamento. Não existe um horário definido pelo tribunal, mas caso você tenha alguma dúvida específica por favor entre em contato através do 0800&nbsp;724&nbsp;5559 que estamos a disposição para lhe passar as informações detalhadas.
      details.faq-questions__details
        summary.faq-questions__question
          | Para onde vão as publicações que eu indiquei como lidas?
          i.faq-questions__icon
            include ../../../images/arrow-down.svg
        .faq-questions__answer.has--text
          p Na parte superior do site, você pode clicar no ícone “Listas todas as publicações (inclusive as visualizadas)” Lá estão todas as suas publicações e no lado direito estão os ícones das publicações lidas e não lidas.
      details.faq-questions__details
        summary.faq-questions__question
          | Quais são os Diários lidos em cada estado?
          i.faq-questions__icon
            include ../../../images/arrow-down.svg
        .faq-questions__answer.has--text
          p Essa informação depende do seu contrato, mas nesse link (link para página de produtos) estão os diários presentes para novas assinaturas. Caso esteja em dúvida sobre qual serviço está contratado, entre em contato através do 0800&nbsp;724&nbsp;5559 que estamos à disposição para lhe passar as informações detalhadas.
      details.faq-questions__details
        summary.faq-questions__question
          | Quanto tempo minhas publicações ficam disponíveis para consulta?
          i.faq-questions__icon
            include ../../../images/arrow-down.svg
        .faq-questions__answer.has--text
          p Suas publicações ficam disponíveis em nosso site por até 20 dias, mas caso tenha alguma dúvida entre em contato através do 0800&nbsp;724&nbsp;5559 que estamos à disposição para lhe passar as informações detalhadas.
      details.faq-questions__details
        summary.faq-questions__question
          | Qual valor é cobrado pela assinatura do Bonnjur?
          i.faq-questions__icon
            include ../../../images/arrow-down.svg
        .faq-questions__answer.has--text
          p Nosso valor é variável e personalizado a cada necessidade. Por isso, pedimos que você entre em contato conosco clicando aqui: (link para solicitar orçamento) ou pelo telefone: 0800&nbsp;724&nbsp;5559. Assim, poderemos entrar em contato, conhecer a rotina do seu escritório e indicar o que temos de melhor para atender sua demanda.
      details.faq-questions__details
        summary.faq-questions__question
          | O que mais o Bonnjur tem a me oferecer?
          i.faq-questions__icon
            include ../../../images/arrow-down.svg
        .faq-questions__answer.has--text
          p Além de toda a tecnologia envolvida no processo de buscas de informações, e de uma área exclusiva em nosso site, oferecemos a você nosso blog, o Bonnsaber. Com matérias para auxiliar no seu desenvolvimento pessoal e profissional. Veja só: (link blog Bonnsaber)
