.contato-form
  .wrapper__tiny
    .contato-form__header #[strong Ainda está com dúvidas?] Precisa de alguma informação que não encontrou em nosso site?#[wbr]Use o espaço abaixo para entrar em contato conosco.
    form.contato-form__form(method='POST')
      .contato-form__group
        label.contato-form__label(for="contato_form_firstname") Primeiro Nome#[sup(aria-describedby="required_label") *]:
        input#contato_form_firstname.contato-form__input(type="text", name="firstname", aria-required="true", required)
      .contato-form__group
        label.contato-form__label(for="contato_form_lastname") Sobrenome#[sup(aria-describedby="required_label") *]:
        input#contato_form_lastname.contato-form__input(type="text", name="lastname", aria-required="true", required)
      .contato-form__group
        label.contato-form__label(for="contato_form_email") E-mail#[sup(aria-describedby="required_label") *]:
        input#contato_form_email.contato-form__input(type="email", name="email", aria-required="true", required)
      .contato-form__group
        label.contato-form__label(for="contato_form_phone") Telefone#[sup(aria-describedby="required_label") *]:
        input#contato_form_phone.contato-form__input(type="tel", name="phone", aria-required="true", required)
      .contato-form__group.contato-form__group--large
        label.contato-form__label(for="contato_form_subject") Assunto#[sup(aria-describedby="required_label") *]:
        textarea#contato_form_subject.contato-form__textarea(name="subject", aria-required="true", required)
        .contato-form__info#required_label #[sup *] Informações obrigatórias
      footer.contato-form__footer
        .contato-form__captcha
          #grecaptcha_1.g-recaptcha(data-sitekey="6LetrKoUAAAAAOETBb6jDi762rkkM3UsPOCnOH_W")
        button.btn.btn--gray.contato-form__submit(type="submit") Enviar
