.contato-outro
  .wrapper__small
    header.contato-outro__header
      h2.contato-outro__title Outras formas de contato
    .contato-outro__container
      aside.contato-outro__aside
        ul.contato-outro__list
          li.contato-outro__item
            i.contato-outro__icon
              include ../../../images/phone.svg
            | Telefone: (41) 3593-9000
          li.contato-outro__item
            i.contato-outro__icon
              include ../../../images/envelope.svg
            | E-mail: bonnjur@bonnjur.com.br
          li.contato-outro__item
            i.contato-outro__icon
              include ../../../images/location-arrow.svg
            address.contato-outro__address Rua Comendador Araújo, 143, #[wbr]10º&nbsp;andar – Centro – Curitiba, #[wbr]CEP: 80420-900
      .contato-outro__map
        a.contato-outro__link(href="https://www.google.com/maps/place/Bonnjur+Dist+de+Boletins+Jur%C3%ADdicos/@-25.4348718,-49.2772518,15z/data=!4m5!3m4!1s0x0:0xe7f0b1eb4fac08e8!8m2!3d-25.4348718!4d-49.2772518", target="_blank")
          figure.contato-outro__figure
            img.contato-outro__image(src="/images/contato-mapa.png")
