.erro-main
  .wrapper__small
    .erro-main__content
      img(src="/images/erro-404.png", alt="Erro 404")
      h1 Houve um erro em nosso sistema.
      p Estamos trabalhando para proporcionar uma solução rápida para você.#[br] Enquanto isso, entre em contato conosco, de qualquer lugar do Brasil, pelo telefone: 0800 724 5559. 
      .erro-main__buttons
        a.btn.btn--white(href="/contato") Entre em Contato
        a.btn.btn--white(href="/index") Ir para a Home
