section.recortes-features
  .wrapper__small
    header.recortes-features__header
      h1.recortes-features__title Vantagens que nos diferenciam e&nbsp;completam o seu trabalho:
    .features__wrapper(data-features="container")
      button.reset__btn.features__btn-prev(data-features="prev")
        span.sr-only Anterior
        include ../../../images/arrow-left.svg
      button.reset__btn.features__btn-next(data-features="next")
        span.sr-only Próximo
        include ../../../images/arrow-right.svg
      .features__grid(data-features="grid")
        .feature
          article.feature__card
            picture.feature__picture.feature__picture--colored
              source(srcset="/images/diferenciais_5.svg", type="image/svg+xml")
              img(src="/images/diferenciais_5.png", alt="Texto alternativo da imagem.")
            h2.feature__title Agilidade
            .feature__description
              p Tempo é um fator importante para você. É por isso que todas as informações que você precisa são #[strong enviadas de forma ágil e precisa].
        .feature
          article.feature__card
            picture.feature__picture.feature__picture--colored
              source(srcset="/images/diferenciais_1.svg", type="image/svg+xml")
              img(src="/images/diferenciais_1.png", alt="Texto alternativo da imagem.")
            h2.feature__title Precisão
            .feature__description
              p Receba apenas as informações que lhe interessam, com #[strong garantia total de encontrabilidade].
        .feature
          article.feature__card
            picture.feature__picture.feature__picture--colored
              source(srcset="/images/diferenciais_4.svg", type="image/svg+xml")
              img(src="/images/diferenciais_4.png", alt="Texto alternativo da imagem.")
            h2.feature__title Abrangência nacional
            .feature__description
              p Atuamos em todo o Brasil para que você receba o máximo de #[strong informação de forma eficiente].
        

