.recortes-recortes
  .wrapper__small
    .recortes-recortes__container
      figure.recortes-recortes__figure.is--observed(data-observe)
        img.recortes-recortes__image(src="/images/computador-recortes.png", aria-hidden)
      article.recortes-recortes__content
        h1.recortes-recortes__title Recortes precisos e personalizados.
        ul.recortes-recortes__list
          li.recortes-recortes__item.is--observed(data-observe)
            i.recortes-recortes__icon
              include ../../../images/check.svg
            | Agilidade nas buscas
          li.recortes-recortes__item.is--observed(data-observe)
            i.recortes-recortes__icon
              include ../../../images/check.svg
            | Otimização de tempo
          li.recortes-recortes__item.is--observed(data-observe)
            i.recortes-recortes__icon
              include ../../../images/check.svg
            | Precisão de resultados
          li.recortes-recortes__item.is--observed(data-observe)
            i.recortes-recortes__icon
              include ../../../images/check.svg
            | Conteúdo personalizado
          li.recortes-recortes__item.is--observed(data-observe)
            i.recortes-recortes__icon
              include ../../../images/check.svg
            | Cobertura nacional
          li.recortes-recortes__item.is--observed(data-observe)
            i.recortes-recortes__icon
              include ../../../images/check.svg
            | Maior abrangência de Diários
