.recortes-recortes {
  background: var(--darker-gray);
  color: #fff;
  // margin-bottom: rem(65);

  @include mq(md) {
    // margin-bottom: rem(20);
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    // padding-top: rem(25);
    align-items: center;

    @include mq(md) {
      flex-wrap: nowrap;
    }
  }

  &__figure {
    margin: 0 0 rem(-65);
    align-self: flex-end;
    order: 2;

    @include mq(md) {
      order: -1;
      margin: 0 0 rem(-20);
    }
  }

  &__content {
    padding: rem(40) rem(32);

    @include mq(md) {
      padding: rem(50) rem(48);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    font-size: em(14);
    line-height: 1.4666;
    list-style: none;

    @include mq(md) {
      font-size: em(15);
    }
  }

  &__title {
    font-size: fluidTypography(22, 31);
    font-weight: 700;
    line-height: 1.2;

    @include mq(lg) {
      font-size: em(31);
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1ch;
  }

  &__image {
    width: 100%;
    height: auto;
  }
}