.diarios-diario
  .wrapper__small
    .diarios-diario__header
      h1.diarios-diario__title Presente em todo o Brasil.
      .diarios-diario__text.has--text
        p O Bonnjur oferece cobertura nacional para o seu escritório. Selecione o estado e o Diário que desejar, e nós enviaremos suas informações personalizadas.
    .diarios-diario__select
      .select
          select(onchange="if ('dataLayer' in window) { dataLayer.push({'event': 'clickEvent', 'eventCategory': 'Recortes Jurídicos - Aberto', 'eventAction': 'Clique no Seletor', 'eventLabel': this.value}); } window.setTimeout(function() { window.location = location.origin + location.pathname + '/' + this.value }.bind(this), 50)")
            option(placeholder) Selecione um estado
            option(value="TRIBUNAIS") Tribunais Superiores
            option(value="AC") Acre
            option(value="AL") Alagoas
            option(value="AP") Amapá
            option(value="AM") Amazonas
            option(value="BA") Bahia
            option(value="CE") Ceará
            option(value="DF") Distrito Federal
            option(value="ES") Espírito Santo
            option(value="GO") Goiás
            option(value="MA") Maranhão
            option(value="MT") Mato Grosso
            option(value="MS") Mato Grosso do Sul
            option(value="MG") Minas Gerais
            option(value="PA") Pará
            option(value="PB") Paraíba
            option(value="PR") Paraná
            option(value="PE") Pernambuco
            option(value="PI") Piauí
            option(value="RJ") Rio de Janeiro
            option(value="RN") Rio Grande do Norte
            option(value="RS") Rio Grande do Sul
            option(value="RO") Rondônia
            option(value="RR") Roraima
            option(value="SC") Santa Catarina
            option(value="SP") São Paulo
            option(value="SE") Sergipe
            option(value="TO") Tocantins
    .diarios-diario__container
      figure.diarios-diario__figure
        img(src="/images/diario-pr.png", alt="Bandeira do Estado do Paraná")
      .diarios-diario__content
        h2.diarios-diario__diario Paraná
        ul.diarios-diario__list
          li.diarios-diario__item Diário da Justiça Eletrônico do Paraná
          li.diarios-diario__item Diário Eletrônico da Justiça do Trabalho da 9ª Região – Seção Judiciária do Paraná
          li.diarios-diario__item Diário Eletrônico da Justiça Federal da 4ª Região – Seção Judiciária do Paraná
          li.diarios-diario__item Diário Eletrônico da Justiça Eleitoral do Paraná
          li.diarios-diario__item Diário Oficial do Paraná – Comércio, Indústria e Serviços
          li.diarios-diario__item Diário Oficial do Paraná – Executivo
          li.diarios-diario__item Diário Oficial Eletrônico do Município de Curitiba
          li.diarios-diario__item Diário Eletrônico do Tribunal de Contas do Paraná
          li.diarios-diario__item Diário Oficial do Município de Foz do Iguaçu
          li.diarios-diario__item Diário Oficial dos Municípios do Estado do Paraná
          li.diarios-diario__item Diario Oficial Assembleia Legislativa do Paraná




