extends layouts/default

block content
  - var breadcrumbs = [{name: 'Home',url: '/'},{name: 'Blog',url: '/blog'}];

  include components/breadcrumbs
  include pages/blog/posts
  //- include pages/home/clients
