extends layouts/default

block content
  - var breadcrumbs = [{name: 'Home',url: '/'},{name: 'Contato', url: '/contato'}];

  include components/breadcrumbs
  include pages/contato/banner
  include pages/contato/form
  include pages/contato/drop
  include pages/contato/outro
