extends layouts/default

block content
  - var breadcrumbs = [{name: 'Home',url: '/'},{name: 'Produtos',url: '/produtos'},{name: 'Recortes Jurídicos',url: '/recortes'},{name: 'Paraná',url: '/recortes'}];

  include components/breadcrumbs
  include pages/diarios/diario
  include components/leadform
  include pages/home/clients
