extends layouts/default

block content
  //- include pages/home/banners
  //- include pages/home/products
  //- include pages/home/guarantees
  //- include pages/home/features
  //- include pages/home/clients
  //- include pages/home/blog
  //- include pages/home/calltoaction
