extends layouts/default

block content
  - var breadcrumbs = [{name: 'Home',url: '/'},{name: 'Produtos',url: '/produtos'},{name: 'Recortes Jurídicos',url: '/recortes'}];
  //- var banner = {image:{desktop: '/images/banner-recortes.jpg', mobile: '/images/banner-recortes-mobile.jpg'}, title: 'Inovação e eficiência para seus recortes jurídicos.', text: ['Para você que valoriza o tempo, oferecemos uma maneira diferente para realizar os recortes jurídicos. Um sistema moderno e inovador que irá proporcionar informações precisas, seguras e em menor tempo, dos processos do seu escritório.'], url: '#', button: 'Experimente Agora'}
  - var banner = {video:{mp4: '/images/Big_Buck_Bunny_1080_10s_5MB.mp4'}}

  include components/breadcrumbs
  include components/banners
  include pages/recortes/recortes
  include pages/recortes/features
  include pages/recortes/map
  include components/leadform
  include pages/home/clients
