extends layouts/default

block content
  - var breadcrumbs = [{name: 'Home',url: '/'},{name: 'Sobre Nós', url: '/sobre'}];

  include components/breadcrumbs
  include pages/sobre/banner
  include pages/sobre/main
  //- include pages/home/clients
