.termos-terms {
  &__article {
    max-width: rem(830);
    margin: 0 auto;
    padding-top: rem(40);
    padding-bottom: rem(50);

    @include mq(md) {
      padding-top: rem(80);
    }
  }

  &__header {
    margin: 0;
    padding-top: rem(40);
    padding-bottom: rem(25);

    @include mq(md) {
      padding-top: rem(80);
    }
  }

  &__title {
    margin: 0;
    color: var(--purple);
    font-size: fluidTypography(22, 31);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;

    @include mq(lg) {
      font-size: em(31);
    }
  }

  &__content {
    font-size: em(14);
    line-height: 1.6666;

    @include mq(md) {
      font-size: em(15);
    }
  }
}
