doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Base Front
    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    link(rel="preload", as="style", href="/styles/main.css")
    link(rel="preload", as="script", href="/scripts/main.js")

    // Place favicon.ico in the root directory

    include ../includes/styles

    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-XXXXXXX');
    // End Google Tag Manager
  body
    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-XXXXXXX", height="0", width="0", style="display:none;visibility:hidden")
    // End Google Tag Manager (noscript)

    .container-fluid
      include ../includes/header
      block content
      include ../includes/footer

    include ../includes/scripts
